<ul>
  <% @comments.each do |comment| %> 
      <div>
        <span class=".statusline">
          <%= link_to image_tag("up_arrow.gif"), upvote_comment_url(comment.id), class: 'upvote', method: :post %>
          <%= points_scored comment %> |
          <%= link_to 'link', comment_path(comment) %> |
          <% if comment.story %>
            <%= link_to 'parent', comment.story %>
          <% else %>
            <%= link_to 'parent', comment_path(comment.commentable_id) %>
          <% end %>
        </span>
        <br/>
        <%= markdown(comment.body) %>
      </div>
  <% end %>
</ul>


