<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div> 
        <p><%= "karma = #{@user.karma}" %>   
        <p><%= link_to "comments", comments_user_path %> 
        <p><%= link_to "stories", stories_user_path %>    
        <p><%= link_to "Change Settings", edit_user_registration_path %><p>
      </div>
    </td>
  </tr>
</table>

