<%= form_for @story do |f| %>
  <%= f.error_messages %>
  <table class='story'><tr>
  <td> <%= f.label :title %> </td>
  <td> <%= f.text_field :title %> </td> 
  </tr>
  <tr>
  <td> <%= f.label :url %> </td>
  <td> <%= f.text_field :url %> </td>
  </tr>
  <tr>
  <td>
  or
  </td>
  </tr>
  <tr>
  <td> <%= f.label :text %> </td>
  <td> <%= f.text_area :text %> </td>
  </tr></table>
  <p><%= f.submit "submit" %></p>
<% end %>
