<%= content_tag defined?(tag_type) ? tag_type : :div, class: 'story' do %>
  <div>
    <% if (user_signed_in? && story.dead && story.user != current_user) && (current_user.role != "admin" || story.user == current_user) %>
    <% else %> 
      <div class=".title">
        <%= link_to image_tag("up_arrow.gif"), upvote_story_url(story), class: 'upvote', method: :post %>
        <% if (story.kill_action == "un-kill") && (story.user != current_user) %>
         <%= " [dead] " %>
        <% end %>
        <% unless story.url.empty? %>
          <%= link_to story.title, story.url %>
          <span class=".link-domain"> <%= "(#{story.url_domain})" %></span>
        <% else %>
          <%= link_to story.title, story %>
        <% end %>
      </div>
      <div class=".metadata">
        <%= points_scored story %><%= link_to story.user.name, user_path(story.user), :id => "user" %><%= time story %> |
        <% if story.comments.first.nil? %>
          <%= link_to 'discuss', story, class: 'comments-link' %>
        <% else %>
          <%= link_to "#{story.comments.size} comments", story, class: 'comments-link' %> 
        <% end %>
        <% if can? :update, story %>
          | <%= link_to "edit", edit_story_path(story) %>
        <% end %>
        <% if can? :kill, story %>
          | <%= link_to story.kill_action, kill_story_path(story) %>
        <% end %>    
        <% if can? :blast, story %>
          | <%= link_to story.blast_action, blast_story_path(story), :id => "blast" %>
        <% end %>
        <% if can? :nuke, story %>
          | <%= link_to story.nuke_action, nuke_story_path(story) %>
        <% end %>  
        <% if can? :destroy, story %>
        | <%= link_to "delete", story, :method => :delete, :confirm => "Are you sure?" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


